<h1>JULIAN MACMANG | julianmacmang@gmail.com</h1>

<h2>Skills</h2>
<!-- Avenir -->
<!-- PT Serif -->
<div class='skills'>
 <h3>Tech stack that I prefer</h3>
 <span>Bash, Boostrap, Botpress, Bundler, CSS, Capistrano, DNS, Docker Compose, EC2, FactoryGirl, Flux, Git, HAProxy, Heroku, HTML, JavaScript, JSON, Linux, Memcached, MySQL, NGINX, NodeJS, NPM, OSX, Puma, Pow, RBENV, ReactJS, Redis, RuboCop, Ruby, Ruby on Rails, RVM, S3, Sass, Sidekiq, Siege, Skylight, SOAP, SQL, Ubuntu, Vim, Webpack, XML, Pry, RSpec</span>
</div>

<div class='skills'>
 <h3>Tech stack that I've used in past projects.</h3>
 <span>Ansible, Apache, Bower, Composer, CodeIgniter, Flask, Gulp, MariaDB, jQuery, Laravel, MongoDB, PostgreSQL, Python, Python EVE, OpenRefine, PHP, Phusion Passenger, PostgreSQL, Redhat, SQLite, SVN, Unicorn, Windows, Wordpress</span>
</div>

<!-- <div class='skills'>
 <h3>Used but forgotten || needs more practice</h3>
 <p>Angular JS, C++, Google Sketchup, Open Refine, Vagrant, Java, Yahoo R3, Zend Framework</p>
</div> -->

<div>
<h3>Development Tools</h3>

 <div>
   <span><u>Text Editor</u></span>
   <p>Atom</p>
 </div>

 <div>
   <span><u>Terminal</u></span>
   <p>iTerm2 and Oh My Zsh</p>
 </div>

 <div>
   <span><u>Communication</u></span>
   <ul>
     <li>Slack</li>
     <li>Gmail</li>
   </ul>
 </div>


 <div>
   <span><u>Productivity</u></span>
   <ul>
     <li>Trello</li>
     <li>Asana</li>
   </ul>
 </div>

 <div>
   <span><u>SaaS</u></span>
   <ul>
     <li>Cloudflare for DNS and SSL</li>
     <li>AWS (EC2, Elasticache, S3, RDS, ELB) for Cloud infrastructure</li>
   </ul>
 </div>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26596615-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-26596615-1');
</script>
